.participate--wrap {
  background-color: #444444;

  p {
    color: #ffffff;
    strong {
      color: #ffffff;
    }

    .btn {
      width: 256px !important;
      padding: 0.75rem !important;
      font-size: 0.875rem !important;
      line-height: 1.42857 !important;
      text-transform: uppercase;
    }
  }
}
